html {
    font-size: 18px; /* Incrementa el tamaño base */
}

@media (min-width: 768px) {
    html {
        font-size: 20px; /* Tamaño mayor para pantallas medianas */
    }
}

body {
    margin: 0;
    background-image: url('../images/Fondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #fff;
}
