@model Angelo_Maureira.Models.Ubicacion

@{
    ViewData["Title"] = "Detalles de la Ubicación";
}

<div class="container mt-5">
    <h1 class="text-info">Detalles de la Ubicación</h1>
    <div class="mt-4">
        <h4 class="text-secondary">Información</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">Nombre</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Nombre)</dd>
        </dl>
    </div>

    <div class="mt-4 d-flex gap-3">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">
            <i class="bi bi-pencil-square"></i> Editar
        </a>
        <a asp-action="Index" class="btn btn-secondary">
            <i class="bi bi-arrow-left"></i> Volver a la Lista
        </a>
    </div>
</div>
